.background-style {
    -fx-background-color: #99baef;
}

.panel-style {
    -fx-background-color: #f2f2f2;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-padding: 6;
    -fx-font-size: 9pt;
    -fx-font-family: Helvetica;
}