.color-palette {
    -fx-min-width: 16.666667em;
    -fx-min-height: 4.0em;
    -fx-pref-height: 4.0em;
}

.color-swatch {
    -fx-min-width: 16.01;
    -fx-min-height: 16.01;
    -fx-max-width: 16.01;
    -fx-max-height: 16.01;
    -fx-pref-width: 16.01;
    -fx-pref-height: 16.01;
}